<template name="navigationBar">
	<nav class="nav">
    <a href="/adam" class="nav-block" id="b1">
      <div class="vcenter">
        <h3>I</h3>
        <h2>Title I</h2>
      </div>
    </a>
  <a href="/eve" class="nav-block" id="b2">
    <div class="vcenter">
      <h3>II</h3>
      <h2>Title II</h2>
    </div>
  </a>
  <a href="/cain" class="nav-block" id="b3">
    <div class="vcenter">
      <h3>III</h3>
      <h2>Title III</h2>
    </div>
  </a>
  <a href="/abel" class="nav-block" id="b4">
    <div class="vcenter">
      <h3>IV</h3>
      <h2>Title IV</h2>
    </div>
  </a>
  <a href="/seth" class="nav-block" id="b5">
    <div class="vcenter">
      <h3>V</h3>
      <h2>Title V</h2>
    </div>
  </a>
  </nav>
</template>