html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html,body,nav{
    width:100%;
}

nav {
  position:fixed;
  bottom:0;
  height: 50px;
}

nav .nav-block{
    text-align:center;
    height:100%;
    position:absolute;
    bottom:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid grey;

    transition: border 400ms ease-in;
}
nav .nav-block:hover{
    border: 3px solid grey;
}
nav .nav-block.active {
    border: 3px solid black;
    transition: border 600ms ease-in;
}


.vcenter h2{
  opacity: 0;
}


.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a {
  text-decoration: none;
}

a.disabled{
  pointer-events:none;
}

.page, .splashPage {
	position: absolute;
	height: 100%;
	width: 100%;
}

.content {
  height: 200%;
}

.splashPage{
  height: 101%;
}

#main{
	text-align: center;
	font-size: 50px;
	color: darkgrey;
	vertical-align: center;
}

.openingFrameContainer {
	position: absolute;
	height: 100%;
	width: 100%;
}

.openingFrame{
	position: absolute;
	top: 40%;
	left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  opacity: 0;
}

#skip{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  opacity:0;
}

#third{
	opacity:1;
}

#replay{
	font-size: 20px;
	position: absolute;
	top:5%;
	left:5%;
}

#skip:hover,#replay:hover{
	cursor:pointer;
}

#loading{
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	color:white;
	font-size: 50px;

}

.gray-out{
  pointer-events: none;
  color: white;
  background: gray;
  opacity: .2;
}